.env
.idea
.venv
StockEtablissement_utf8.csv
StockEtablissement_utf8.zip
int_courts_naf_rev_2.xls
companies.db
entreprises.csv
result.csv
annual_accounts_results.csv
downloads/
/StockUniteLegale_utf8.csv
/StockUniteLegale_utf8.zip
/companies_export.csv
